* {
    margin: 0;
    padding: 0;
    direction: rtl;
}

header {
    position: relative;
    padding: 125px;
    background-color: #5bd0f4a1;
    text-align: center;
    font-size: 3em;
    font-family: monospace;
}

#headline {
    /* font-family: 'Tajawal', sans-serif ; */
    font-family: 'Kufam', sans-serif;
}

.course {
    position: relative;
    padding: 25px;
    background-color: #5bd0f4a1;
    text-align: right;
    font-size: 35px;
    font-family: monospace;
}

.home {
    left: 140px;
    position: absolute;
    top: 15px;
    font-size: 30px;
    color: black;
}

#hom {
    left: 120px;
    margin-right: 20px;
    position: absolute;
    top: 15px;
    font-size: 20px;
    color: #aef8fd;
    background-color: rgb(35, 105, 114);
    padding: 8px;
    border-radius: 4px;   
}

#about {
    left: 220px;
    position: absolute;
    top: 15px;
    font-size: 20px;
    color: #aef8fd;
    background-color: rgb(35, 105, 114);
    padding: 8px;
    border-radius: 4px;
}

#about:hover{
    color: black;
}

#hom:hover{
    color: black;
}

#author {
    position: absolute;
    right: 60px; 
    top: 290px;
}

#into {
    position: absolute;
    top: 190px;
    right: 38%;
    font-size: 20px;
    font-family: monospace;
}


.modify {
    clear: both;
}

.era {
    width: 50%;
    position: absolute;
    top: 220px;
    left: 25%;
    font: 20px normal sans-serif;
    background-color: #fdfdfd;
    padding-right: 0px;
    box-shadow: 4px 4px 4px 4px #9dd5db;
}

#p1 {
    height: 1170px;
}

#p2 {
    height: 900px;
}

#p3 {
    height: 1720px;   
}

#p4 {
    height: 1420px;
}

.era article {
    margin: 30px;
    padding: 5px;
    padding-right: 5px;
    margin-bottom: 50px;
}

.era article p,ul {
    padding: 15px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #c1e3e0;
}

figure {
    padding: 25px;
}

figure figcaption {
    font: 15px solid serif;
}

.ans {
    font: 25px solid monospace;
}

label {
    padding: 10px;
    margin: 30px;
    
}
input[type=submit] {
    padding:5px 15px;
    background:#ccc; 
    cursor:pointer;
    border-radius: 5px; 
    margin-left: 15px;
}

#box {
    margin: 10%;
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
}
  
#box:hover {
    width: 300px;
}

footer {
    background-color: #5bd0f4a1;
    text-align: center;
    padding: 5px;
    color: black;
    position:fixed;
    right: 0;bottom:0;left:0;
    font-family: monospace;
    }

.link {
    border-bottom: 1px ridge black;
}

.class {
    font-family: 'Kufam', sans-serif;
}


.container {
    display: flex;
    flex-wrap: nowrap;
  }

.container > div {
    background-color: #9e1616;
    width: 350px;
    height: 300px;
    margin: 20px;
    text-align: center;
    line-height: 75px;
    font-size: 1.6em;
}
