* {
    margin: 0;
    padding: 0;
    direction: rtl;
}

header {
    position: relative;
    padding: 125px;
    background-color: #5bd0f4a1;
    text-align: center;
    font-size: 3em;
    font-weight: 700;
}

#headline {
    font-family: 'Kufam', sans-serif;
}

.course {
    position: relative;
    padding: 25px;
    background-color: #5bd0f4a1;
    text-align: right;
    font-size: 35px;
    font-family: monospace;
}

.home {
    left: 140px;
    position: absolute;
    top: 15px;
    font-size: 30px;
    color: black;
}

#hom {
    left: 120px;
    margin-right: 20px;
    position: absolute;
    top: 15px;
    font-size: 20px;
    color: #aef8fd;
    background-color: rgb(35, 105, 114);
    padding: 8px;
    border-radius: 4px;   
}

.sideNav {
    background-color: rgb(245, 241, 241);
    direction: ltr;
    position: absolute;
    left: 0px;
    top: 42%;
    width: 12%;
    border: 0.2px solid rgb(65, 65, 65);
    border-radius: 5px;
}

.sideNav > ul,li  {
    list-style: none;
    text-align: center;
    direction: ltr;
    font-size: 1em;
}
/* .sideNav > ul  {
    font-weight: bold;
} */

.sideNav > li {
    font-weight: lighter;
} 


#about {
    left: 220px;
    position: absolute;
    top: 15px;
    font-size: 20px;
    color: #aef8fd;
    background-color: rgb(35, 105, 114);
    padding: 8px;
    border-radius: 4px;
}

#about:hover{
    color: black;
}

#hom:hover{
    color: black;
}

#author {
    position: absolute;
    right: 60px; 
    top: 290px;
}

#into {
    position: absolute;
    top: 190px;
    right: 38%;
    font-size: 20px;
    font-family: monospace;
}


.modify {
    clear: both;
}

.era {
    width: 50%;
    /* position: absolute;
    top: 220px;
    left: 25%; */
    margin: auto 20% ;
    font: 20px normal sans-serif;
    background-color: #fdfdfd;
    padding-right: 0px;
    box-shadow: 4px 4px 4px 4px #9dd5db;
}

#p1 {
    height: 1170px;
}

#p2 {
    height: 900px;
}

#p3 {
    height: 1720px;   
}

#p4 {
    height: 1420px;
}

.era article {
    margin: 30px;
    padding: 5px;
    padding-right: 5px;
    margin-bottom: 50px;
}

.era article p,ul {
    padding: 15px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #c1e3e0;
}

figure {
    padding: 25px;
}

figure figcaption {
    font: 15px solid serif;
}

.ans {
    font: 25px solid monospace;
}

label {
    padding: 10px;
    margin: 30px;
    
}
input[type=submit] {
    padding:5px 15px;
    background:#ccc; 
    cursor:pointer;
    border-radius: 5px; 
    margin-left: 15px;
}

#box {
    margin: 3%;
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
}
  
#box:hover {
    width: 300px;
}

.link {
    border-bottom: 1px ridge black;
}

.class {
    font-family: 'Kufam', sans-serif;
}

#courses {
    display: inline;
    margin: 50% 30%;
    line-height: 2em;  
    color: rgb(88, 88, 88);
    font-family: 'Kufam' , sans-serif;
    font-size: 2em;
}

.container {
    display: flex;
    flex-wrap: wrap;

  }

.container > div {
    width: 25%;
    height: 330px;
    margin: 20px;
    text-align: center;
    line-height: 75px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px grey ;
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#html {
    background-color: #ca5959;
}

#css {
    background-color: #a9f5ff;

}

#javascript{
    background-color: #fffd8b;
}

@media screen and (max-width: 1150px) {
    #into {
        position: absolute;
        top: 250px;
        right: 50%;
        font-size: 20px;
        font-family: monospace;
    }

    .sideNav {
        visibility: hidden;
    }
    
    .era {
        width: 70%;
    }
}

@media screen and (max-width: 780px) {
    .container {
        flex-direction: column;
    }

    .container > div {
        width: 80%;
    }
    #into {
        visibility: hidden;
    }

    #headline {
        font-size: 2em;
    }
    .era {
        width: 95%;
        margin: auto auto;
    }

    .sideNav {
        visibility: hidden;
    }
}


* {
  font-family: Roboto;
}

section {
  width: 100%;
  display: inline-block;
  background: rgb(255, 255, 255);
  height: 40vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}